@{
  Layout = "_Layout";
}

@model PierreTreat.Models.Treat

<h4>Edit a treat</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.TreatName)
    @Html.EditorFor(model => model.TreatName)

  

    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>