@{
  Layout = "_Layout";
}

<h1>Welcome To Pierre's Treats and Sweets!</h1>
<p>@Html.ActionLink("See all flavorss", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>